.mouse-stars-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.star {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.703);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.4);
  pointer-events: none;
  transform: translate(-50%, -50%);
}